@import "../modules/_all.scss";

%button {
    outline: none;
    fill: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 250ms;
    background-color: transparent;
    border: 1px solid transparent;

    &:visited {
        color: inherit;
    }
}

button, .btn {
    @extend %button;
}