@import "../modules/_all.scss";

body, html {
    width: 100%;
    fill: $text-color;
    color: $text-color;
    background-color: $background-color;
}

// Sizing
// ===========================================================================

.expand {
    width: 100%;
    height: 100%;
}

.expand-x, .w100 {
    width: 100%;
}

.expand-y, .h100 {
    height: 100%;
}

.grow {
    flex-grow: 1
}

// Alignment & Positioning
// ===========================================================================

%container {
    display: flex;

    &.wrap {
        flex-wrap: wrap;
    }

    &.baseline {
        align-items: baseline;
    }
}

.row {
    @extend %container;

    &.center {
        justify-content: center;
    }

    &.right {
        justify-content: flex-end;
    }

    &.middle {
        align-items: center;
    }

    &.bottom {
        align-items: flex-end;
    }

    &.separate {
        justify-content: space-between;
    }
}

.column {
    @extend %container;
    flex-direction: column;

    &.center {
        align-items: center;
    }

    &.right {
        align-items: flex-end;
    }

    &.middle {
        justify-content: center;
    }

    &.bottom {
        justify-content: flex-end;
    }
}

// Spacing
// ===========================================================================

$values: ("25": 0.25em, "50": 0.5em, "100": 1em);

@each $label, $value in $values {
    .p#{$label} {
        padding: $value;
    }

        .x-p#{$label}, .p#{$label}x {
            padding: 0 $value;
        }

        .y-p#{$label}, .p#{$label}y {
            padding: $value 0;
        }

    .m#{$label} {
        margin: $value;
    }

        .x-m#{$label}, .m#{$label}x {
            margin: 0 $value;
        }

        .y-m#{$label}, .m#{$label}y {
            margin: $value 0;
        }
}

.p1 {
    padding: 1px;
}

.m1 {
    margin: 1px;
}
